@page {
  margin: 0;
  counter-increment: page;
}

body {
  -webkit-print-color-adjust: exact;
  margin: 5cm 4cm;
  padding: 0;
  background-color: white;
  font-size: 14pt;
}

@page {
  @bottom-right {
    content: counter(page);
  }
}

.site-header {
  display: none;
}

.back-to-top__link {
  display: none;
}

.site-footer {
  position: fixed;
  height: 4cm;
  width: 100%;
  left: 0;
  bottom: 0;
}

.site-footer__deco {
  height: 2cm;
  background-color: white;
}

.site-footer__deco-pic {
  height: 2cm;
  width: 5cm;
}

.site-footer__content {
  height: 2cm;
  background-color: black;
  overflow: hidden;
}

.site-footer__content:after {
  position: fixed;
  right: 2cm;
  bottom: 1cm;
  color: white;
  content: counter(page);
}

article {
  margin: 0 auto;
  max-width: 60em;
}

h1 {
  page-break-after: avoid;
  font-size: 2em;
}

h2 {
  page-break-after: avoid;
  font-size: 1.8em;
}

h3 {
  page-break-after: avoid;
  font-size: 1.6em;
}

h4 {
  page-break-after: avoid;
  font-size: 1.4em;
}

h5 {
  page-break-after: avoid;
  font-size: 1.2em;
}

h6 {
  page-break-after: avoid;
  font-size: 1em;
}

figure {
  max-width: 80%;
  page-break-inside: avoid;
}

figure img {
  width: 100%;
  height: auto;
}

