.site-container {
  font-size: 1.2em;
}

.site-header__title {
  padding-top: .4em;
  padding-bottom: .4em;
  font-size: 1.2em;
  font-weight: normal;
}

.site-header__butterfly-img {
  max-width: 60px; 
}

article {
  line-height: 1.5em;
}

/* Matching on .article_content for sufficient speicificity to win */
.article-body > .side-by-side-figure__container {
  margin-left: 0;
  margin-right: 0;
}

figure.semi-text-width {
  margin-left: 0;
  margin-right: 0;
}

img.semi-text-width {
  display: block;
  width: 100%;
  height: auto;
}
