html {
  font-size: 1em;
}

body {
  background-color: @light-brownish-background-color;
  overflow-x: hidden;
}

@media (max-width: 647px) {
  .site-container {
    font-size: 1.2em;
  }
}
@media (min-width: 648px) {
  .site-container {
    font-size: 1.3rem;
  }
}

.site-header {
  display: block;
  width: 100%;
  text-align: center;
}
@media (max-width: 647px) {
  .site-header {
    top: -200px;
    position: sticky;
    transition: top 0.5s ease-out;
  }
  .scrolled-up .site-header {
    top: 0px;
    transition: top 1s ease-in;
  }
}
.site-header__white-background {
  background-color: white;
}
.site-header__title {
  color: darken(@light-brownish-background-color, 10%);
  margin: 0;
  text-align: center;
}
@media (max-width: 647px) {
  .site-header__title {
    padding-top: .4em;
    padding-bottom: .4em;
    font-size: 1.2em;
    font-weight: normal;
  }
}
@media (min-width: 648px) {
  .site-header__title {
    padding-top: .75em;
    padding-bottom: .75em;
    font-size: 1.75em;
    font-weight: normal;
  }
}
.site-header__title-link {
  text-decoration: none;
  color: inherit;
}
.site-header__butterfly-container {
  display: block;
  background-color: transparent;
  text-align: right;
}
.site-header__butterfly-img {
  height: auto;
  border: none;
}
@media (max-width: 647px) {
  .site-header__butterfly-img {
    max-width: 60px; 
  }
}
@media (min-width: 648px) {
  .site-header__butterfly-img {
    max-width: 160px;
  }
}

.back-to-top__link {
  top: 2px;
  left: 2px;
  position: fixed;
  display: none;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 150%;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

article {
  margin: 0 auto;
  width: 100%;
  font-family: 'Archivo Narrow', sans-serif;
  text-align: justify;
  max-width: 50rem;
}
@media (max-width: 647px) {
  article {
    line-height: 1.5em;
  }
}
@media (min-width: 648px) {
  article {
    line-height: 1.75em;
  }
}

.article-footer__date-wrapper {
  display: inline-block;
}
.article-footer__date {
  display: flex;
  flex-direction: column;
  line-height: 1em;
  font-size: 80%;
}
.article-footer__date-part-seperator {
  display: none;
}
.article-footer__month {
  display: flex;
  flex-direction: column;
}
.article-footer__month-name-short {
  background-color: black;
  color: lighten(@light-brownish-background-color, 5%);
  padding: 2pt;
  text-align: center;
  letter-spacing: 1pt;
}
.article-footer__month-day {
  background-color: black;
  color: lighten(@light-brownish-background-color, 15%);
  padding: 2pt;
  text-align: center;
  font-size: 170%;
}
.article-footer__year {
  background-color: black;
  color: darken(@light-brownish-background-color, 15%);
  padding: 2pt;
  text-align: center;
}
.article-footer__author {
  display: none;
}

.article-body {

  ul {
    margin-top: 0;
  }
  @media (max-width: 647px) {
    ul {
      margin-top: 0;
      padding: 0;
      padding-left: 2ex;
      padding-right: 2ex;
    }
  }

  & > .figure__container {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  & > .figure__container--text-width {
    // Make text-width figures wider than the rest of the body content:
    margin-left: 0;   // Get rid of the `body > *` margins.
    margin-right: 0;  // Get rid of the `body > *` margins.
    clear: both;
  }
  // Matching on & for sufficient specificity to win
  & > .figure__container--semi-text-width {
    clear: both;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    @media (max-width: 647px) and (orientation: portrait) {
      flex-direction: column;
    }
    @media (max-width: 647px) and (orientation: landscape),
           (min-width: 648px) {
      flex-direction: row;
      justify-content: center;
      align-items: top;
    }
  }
  & .figure {
    display: flex;
    flex-direction: column;
    justify-content: flex-begin;
    margin: 0;
    padding-top: 2pt;
    background-color: darken(@light-brownish-background-color, 40%);
  }
  & .figure--semi-text-width {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    @media (max-width: 647px) and (orientation: portrait) {
      margin-left: 0;
      margin-right: 0;
    }
    @media (max-width: 647px) and (orientation: landscape) {
      max-width: 49%;
      &:first-child {
        margin-left: 0;
        margin-right: .1rem;
      }
      &:last-child {
        margin-left: .1rem;
        margin-right: 0;
      }
    }
    @media (min-width: 648px) {
      max-width: 50%;
      &:first-child {
        margin-left: 0;
        margin-right: 1pt;
      }
      &:last-child {
        margin-left: 1pt;
        margin-right: 0;
      }
    }
  }
  & .figure--narrow {
    display: block;
    float: right;
    margin-top: 0;
    margin-left: 2ex;
    @media (max-width: 647px) and (orientation: portrait) {
      width: 40%;
    }
    @media (max-width: 647px) and (orientation: landscape) {
      width: 30%;
    }
    @media (min-width: 648px) {
      width: 20%;
    }
  }
  & .figure__img {
    display: block;
    width: 100%;
    height: auto;
  }
  & .figure__img--semi-text-width {
    display: block;
    max-width: 100%;
    max-height: 100%;
    @media (max-width: 647px) and (orientation: landscape) {
      width: ~"calc((100vh - 4pt) * var(--image-aspect-ratio))";
      height: ~"calc(100vh - 4pt)";
    }
  }
  & .figure__img--narrow {
    display: block;
    width: 100%;
    height: auto;
  }
  & .figure__figcaption {
    box-sizing: border-box;
    background-color: darken(@light-brownish-background-color, 40%);
    color: #827e63;
    color: lighten(@light-brownish-background-color, 10%);
    font-size: 90%;
    line-height: 1.3em;
    padding: .75em 2ex;
    a {
      text-decoration: none;
      border-bottom: 1px solid lighten(@light-brownish-background-color, 10%);
    }
    a:hover {
      background-color: darken(@light-brownish-background-color, 30%);
      color: @light-brownish-background-color;
      text-decoration: none;
      border-bottom: 1px solid @light-brownish-background-color;
    }
    @media (max-width: 647px) and (orientation: landscape) {
      font-size: .8em;
      padding: 1ex;
      text-align: justify;
      word-break: break-all;
      overflow-wrap: break-word;
    }
    @media (min-width: 648px) {
      padding: .75em 2ex;
    }
  }
  & .figure__figcaption--semi-text-width {
    width: ~"calc((100vh - 4pt) * var(--image-aspect-ratio))";
  }

  & blockquote {
    background-color: darken(@light-brownish-background-color, 5%);
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2ex;
    padding-right: 2ex;
  }
  & blockquote > *:first-child {
    margin-top: 0;
  }
  & blockquote > *:last-child {
    margin-bottom: 0;
  }
  & blockquote:before {
    margin-left: -.25ex;
    margin-top: -.25ex;
    margin-right: 0;
    color: @light-brownish-background-color;
    display: block;
    line-height: 1em;
    height: 0.5em;
    content: '“';
    font-size: 400%;
  }
  & blockquote:after {
    margin-left: 0;
    margin-bottom: -.25ex;
    margin-right: -.25ex;
    color: @light-brownish-background-color;
    display: block;
    line-height: 1em;
    height: 0.5em;
    text-align: right;
    content: '”';
    font-size: 400%;
  }

  & .twitter-tweet-wrapper {
    // Work around <twitterwidget style="margin-top: 10px; margin-bottom: 10px;"> 
    margin-top: 2em;
    margin-bottom: 2em;
  }

  & a {
    text-decoration: underline;
    color: inherit;
  }
  & a:hover {
    background-color: darken(@light-brownish-background-color, 5%);
  }
  & a.twitter-hashtag-link {
    display: inline-block;
    background-color: inherit;
    border-radius: 0px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: @light-brownish-background-color;
    border-color: @twitter-blue;
    color: inherit;
    text-decoration: none;
    padding: 0;
    margin: 0 .5em;
  }
  & a.twitter-hashtag-link:hover {
    display: inline-block;
    border-radius: 4px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: @twitter-blue;
    background-color: white;
    color: @twitter-blue;
    text-decoration: none;
    padding: 0 .5em;
    margin: 0;
  }

  & table.text-width {
    border-collapse: collapse;
    clear: both;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    th, td {
      padding: 0 0.5rem;
      vertical-align: top;
    }
    caption {
      background-color: darken(@light-brownish-background-color, 40%);
      color: #827e63;
      font-size: 90%;
      caption-side: bottom;
      line-height: 1.3em;
      padding: .75em 2ex;
      text-align: left;
    }
    thead {
      th {
        background-color: darken(@light-brownish-background-color, 40%);
        font-weight: normal;
        color: #827e63;
      }
    }
    tbody {
      tr:first-child th,
      tr:first-child td {
        border-top: 2pt solid darken(@light-brownish-background-color, 40%);
      }
      th {
        background-color: darken(@light-brownish-background-color, 10%);
        font-weight: normal;
      }
    }
    tfoot {
      th {
        background-color: darken(@light-brownish-background-color, 10%);
        font-weight: normal;
      }
      th, td {
        padding-top: .5rem;
      }
    }
  }

  & > .project-insert {
    border-radius: 0 0 0 0;
    background-color: darken(@light-brownish-background-color, 10%);
    margin-top: 1.75em;
    margin-bottom: 2em;
    padding: 0;
    color: black;
    text-align: left;
  }
  @media (max-width: 647px) {
    & > .project-insert {
      margin-left: 0;
      margin-right: 0;
    }
  }
  @media (min-width: 648px) {
    & > .project-insert {
      box-sizing: border-box;
      display: block;
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      color: black;
    }
  }
  & > .project-insert h4 {
    font-size: 80%;
    margin: 0;
    display: inline;
    font-family: inherit;
    font-weight: bold;
  }
  & > .project-insert h4:after {
    font-size: 80%;
    margin-right: .5ex;
    content: '.';
  }
  @media (max-width: 647px) {
    & > .project-insert > .insert__content {
      padding-top: .5em;
      padding-bottom: .5em;
      padding-left: @main-side-margin;
      padding-right: @main-side-margin;
    }
  }
  @media (min-width: 648px) {
    & > .project-insert > .insert__content {
      box-sizing: border-box;
      max-width: 50rem;
      margin-left: auto;
      margin-right: auto;
      display: block;
      line-height: 1.2em;
      padding-top: 1em;
      padding-bottom: 1em;
      padding-left: @main-side-margin;
      padding-right: @main-side-margin;
    }
  }
  & > .project-insert p {
    font-size: 80%;
    display: inline;
  }
  & > .stijlloze-project-insert {
    background-color: lighten(@stijlloos-roze, 0%);
  }

}

.article-index__list {
  margin-left: 0;
  padding: 0;
  list-style-type: none;
}
.article-index__item {
  display: flex;
  flex-direction: row;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: .25em;
}
.article-index__date {
  display: flex;
  flex-direction: column;
  line-height: 1em;
  font-size: 80%;
}
.article-index__date-part-seperator {
  display: none;
}
.article-index__month {
  display: flex;
  flex-direction: column;
}
.article-index__month-name-short {
  background-color: black;
  color: lighten(@light-brownish-background-color, 5%);
  padding: 2pt;
  text-align: center;
  letter-spacing: 1pt;
}
.article-index__month-day {
  background-color: black;
  color: lighten(@light-brownish-background-color, 15%);
  padding: 2pt;
  text-align: center;
  font-size: 170%;
}
.article-index__year {
  background-color: black;
  color: darken(@light-brownish-background-color, 15%);
  padding: 2pt;
  text-align: center;
}
.article-index__container a.article-index__article-link {
  padding-left: 2ex;
  padding-right: 2ex;
}
.article-index__article-title {
  font-style: normal;
}

.site-footer {
  margin: 0;
  margin-top: 5em;
  padding: 0;
}
.site-footer-index {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 80%;
  color: darken(@light-brownish-background-color, 25%);
}
.site-footer-taxonomy {
  min-width: 10rem;
  padding: 1em 1ex;
  flex-grow: 1;
}
.site-footer-taxonomy__title {
  margin: 1em 0 .75em 0;
  font-size: 110%;
  font-weight: normal;
}
.site-footer-taxonomy__terms {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.site-footer-taxonomy__term-title {
  margin: 0;
  font-variant: titling-caps;
  font-size: 90%;
  font-weight: normal;
}
.site-footer-taxonomy__articles {
  margin: .25em 0 .75em 0;
  padding-left: 3ex;
  list-style-type: square;
}
.site-footer-taxonomy__article-link {
  text-decoration: none;
  color: @footer-link-color;
}
.site-footer-taxonomy__article-link:hover {
  text-decoration: underline;
}
.site-footer-taxonomy__article-link:target {
  color: @light-brownish-background-color;
}
[data-taxonomy-term="stijlloos"] {
  .site-footer-taxonomy__term-title {
    color: darken(@stijlloos-roze, 40%);
  }
  .site-footer-taxonomy__article-link {
    color: darken(@stijlloos-roze, 30%);
  }
}
.site-footer__deco-pic {
  max-width: 4cm;
  height: auto;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
}
.site-footer__content {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}
.site-footer__license  {
  font-size: 80%;
  margin: 0;
  padding: 3em 2ex 0.75em 2ex;
  font-family: 'Archivo Narrow', sans-serif;
  color: darken(@light-brownish-background-color, 20%);
}
.site-footer__license a {
  color: @footer-link-color;
}
.site-footer__colophon  {
  font-size: 80%;
  margin: 0;
  padding: 0em 2ex 2em 2ex;
  font-family: 'Archivo Narrow', sans-serif;
  color: darken(@light-brownish-background-color, 20%);
}
.site-footer__colophon a {
  color: @footer-link-color;
}

/* vim: set expandtab shiftwidth=2 tabstop=2 softtabstop=2: */
