html {
  padding: 0;
  margin: 0;
}

body {
  background-color: #eee;
  background-color: #342a15;
  background-color: #91805d;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.site-container {
  font-size: 1.3em;
}

.site-header {
  width: 100%;
  text-align: center;
  background-color: white;
}

.site-header > * {
  font-family: 'Merriweather', serif;
}

.site-header__title {
  color: #91805d;
  margin: 0;
  padding-top: .75em;
  padding-bottom: .75em;
  font-size: 1.75em;
  font-weight: normal;
  text-align: center;
}

.site-header__title-slogan-separator {
  display: none;
}

.site-header__slogan {
  display: none;
}

.site-header__terminator {
  display: block;
  margin: 0;
  color: #eee;
  text-shadow: 1px 1px 2px #444;
  font-size: 200%;
  line-height: 50%;
  display: none;
}

.site-header__butterfly-container {
  text-align: right;
}

.site-header__butterfly-img {
  position: relative;
  max-width: 160px;
  height: auto;
  border: none;
}

article {
  background-color: #888;
  background-color: #eee;
  background-color: #523a06;
  background-color: #998251;
  background-color: #91805d;
  background-color: inherit;
  margin: 0 auto;
  width: 100%;
  line-height: 1.5em;
  font-family: 'Archivo Narrow', sans-serif;
  text-align: justify;
  max-width: 80ex;
}

.article-header {
  padding: 1ex;
  padding-left: 2ex;
  margin-bottom: 0;
  text-align: left;
}

.article-header__title {
  color: #444;
  color: #24180f;
  /*text-shadow: 0px 2px 1px #444;*/
  margin: 0;
  font-size: 1.5em;
  font-weight: normal;
  font-family: 'Merriweather', serif;
}

.article-body {
  color: #222;
  color: #8c7e60;
  color: #24180f;
}

.article-body > * {
  margin-left: 20px;
  margin-right: 20px;
}

.article-body > *:first-child {
  margin-top: 1em;
}

.article-body > p {
  margin-top: .5em;
  margin-bottom: .5em;
}

.article-body h2,
.article-body h3,
.article-body h4,
.article-body h5,
.article-body h6 {
  font-family: 'Merriweather', serif;
  font-weight: normal;
}

.article-body h2 {
  margin-top: 1.5em;
  margin-bottom: .75em;
  font-size: 1.3em;
}

.article-body figure {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-top: 2pt;
  background-color: #444;
  background-color: #2a251a;
}

.article-body figcaption {
  color: #888;
  color: #826e43;
  font-size: 90%;
  line-height: 1.3em;
  padding: .75em 4ex;
}

.article-body figure.text-width {
  margin-left: 0;
  margin-right: 0;
}

.article-body blockquote {
  padding-left: 2ex;
  border-left: 2pt solid;
}

@media only screen and (min-width: 648px) {
  .side-by-side-figure__container {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: row;
  }

  figure.semi-text-width:first-child {
    margin-right: 1pt;
  }

  figure.semi-text-width:last-child {
    margin-left: 1pt;
  }

  img.semi-text-width {
    display: block;
    width: 100%;
  }

  figure.semi-text-width figcaption {
    padding: .75em 1ex;
  }
}

figure.text-width img {
  display: block;
  width: 100%;
}

@media only screen and (max-width: 647px) {
  figure.semi-text-width:first-child {
    margin-left: 0;
    margin-right: 0;
  }

  img.semi-text-width {
    display: block;
    width: 100%;
  }
}

.site-footer {

  margin: 0;
  padding: 0;
}

.site-footer__deco-pic {
  max-width: 40%;
  height: auto;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
}

.site-footer__content {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.site-footer__license  {
  font-size: 80%;
  margin: 0;
  padding: 3em 2ex 0.75em 2ex;
  font-family: 'Archivo Narrow', sans-serif;
  color: #91805d;
}

.site-footer__license a {
  color: #826e43;
}


.site-footer__colophon  {
  font-size: 80%;
  margin: 0;
  padding: 0em 2ex 2em 2ex;
  font-family: 'Archivo Narrow', sans-serif;
  color: #91805d;
}

.site-footer__colophon a {
  color: #826e43;
}
